.contract-container {
  height: 100%;
  margin-left: 20px;
  padding-bottom: 26px;
  h2 {
    margin: 20px 0 10px 0;
  }
  .content {
    display: flex;
    flex-direction: row;
  }

  .contract-info {
    width: 70%;
    padding-top: 0;
    
    .details {
      padding: 20px;
      background-color: white;
      border-radius: 6px;

      h3{
        margin-top: 0;
      }
    }
    .billing {
      background-color: white;
      border-radius: 6px;
      margin-top: 20px;
      padding: 20px;
      h3{
        margin-top: 0;
      }
      .name {
        font-size: 1em;
        font-weight: 500;
      }
      p {
        margin-bottom: 0;
      } 
    }
  }

  .bills {
    padding: 20px;
    width: 30%;
    background-color: white;
    margin-left: 30px;
    border-radius: 6px;

    h3 {
      margin-top: 0;
    }

    .bill-card {
      display: flex;
      justify-content: space-between;
      margin:  4px;
      padding: 0  10px;
      border-bottom: 1px solid rgb(205, 205, 205);
      .left {

      }
      .right {
        display: flex;
        align-items: center;
        p{
          margin-right: 10px;
        }
      }
    }
  }
}



