.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;

  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 40px;
    padding-bottom: 76px;
    transform: translate(-50%, -50%);
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 6px;

      h1 {
        margin: 0 0 30px;
        padding: 0;
        color: #3d3d3d;
        text-align: center;
      }

      button{
        position: absolute;
        font-weight: 600;
        font-size: 1.2rem;
        border: none;
        left: 50%;
        transform: translate(-50%, 0);
        width: 40%;
        margin-top: 10px;
        padding: 8px;
        background-color: aquamarine;
        border-radius: 6px;
      }
  }

  .form-input {
    position: relative;

    &:focus-within label{
      top: -20px;
          left: 0;
          color: aquamarine;
          font-size: 12px;
    }
      label{
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #3d3d3d;
        pointer-events: none;
        transition: .5s;
      }
      input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #3d3d3d;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #3d3d3d;
        outline: none;
        background: transparent;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
      }
      input[data-autocompleted] {
        background-color: transparent !important;
      }
      .label-valid{
        top: -20px;
          left: 0;
          color: aquamarine;
          font-size: 12px;
      }
      
  }    

}



@media screen and (min-width: 600px) {
.login-container{
  .card {
    position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      padding-bottom: 76px;
      transform: translate(-50%, -50%);
      background: white;
      box-sizing: border-box;
      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
      border-radius: 6px;
  }
}
}